// variable = espacio de memoria


@import "variables";

body{
    margin: 0px;
    padding: 0px;
    background: $color-body;
}
@font-face{
    font-family: "SmoochSans-Black";
    src: url(../css/fonts/SmoochSans-Black.ttf);
}
@font-face{
    font-family: "SmoochSans-ExtraLight";
    src: url(../css/fonts/SmoochSans-ExtraLight.ttf);
}
@font-face{
    font-family: "SmoochSans-SemiBold";
    src: url(../css/fonts/SmoochSans-SemiBold.ttf);
}
.contenedor-card{
    width: 300px;
    height: auto;
    background: rgb(233, 79, 32);
    padding: 10px;
    margin: o auto;
    margin-top: 10px;
    h2{
        font-family: "SmoochSans-Black";
        color: $color-texto
    }
    p{
        font-family: "SmoochSans-ExtraLight";
    }
}

.cont-img{
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-position: center;
    transition: all 1s ease-in-out;
    &:hover{
        background-size: 160%;
    }
}
#img-vitral-a{
    background-image: url(../css/img/vitrales.jpg);
}
#img-vitral-b{
    background-image: url(../css/img/gloria.jpg);
}
.btn-card{
    
    background: $color-morado-claro; 
    width: 180px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-family: "SmoochSans-SemiBold";
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px black (0,0,0,4.5);
    }
}

.text-center{
    text-align: center;
}
.mx-auto{
    margin: 0 auto;
}