body {
  margin: 0px;
  padding: 0px;
  background: blue;
}

@font-face {
  font-family: "SmoochSans-Black";
  src: url(../css/fonts/SmoochSans-Black.ttf);
}

@font-face {
  font-family: "SmoochSans-ExtraLight";
  src: url(../css/fonts/SmoochSans-ExtraLight.ttf);
}

@font-face {
  font-family: "SmoochSans-SemiBold";
  src: url(../css/fonts/SmoochSans-SemiBold.ttf);
}

.contenedor-card {
  width: 300px;
  height: auto;
  background: #e94f20;
  padding: 10px;
  margin: o auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: "SmoochSans-Black";
  color: white;
}

.contenedor-card p {
  font-family: "SmoochSans-ExtraLight";
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 160%;
}

#img-vitral-a {
  background-image: url(../css/img/vitrales.jpg);
}

#img-vitral-b {
  background-image: url(../css/img/gloria.jpg);
}

.btn-card {
  background: #811edd;
  width: 180px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-family: "SmoochSans-SemiBold";
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px black 0, 0, 0, 4.5;
          box-shadow: 0px 0px 10px black 0, 0, 0, 4.5;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */